@using JudgementApp.Models; 
@model IEnumerable<JudgementApp.Models.Leaderboard>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    Company company = (Company)ViewData["Company"];
}
<body style="background: @company.BackgroundColor;color:  @company.TextColor">
    <section class="contact-clean" style="background: @company.BackgroundColor;">
        <form method="post" style="text-align: center;background: @company.CardBackgroundColor;">
            <h2 class="text-center" id="ProblemName" style="color: @company.HeadingColor;">@ViewData["contestName"]</h2>
            
            <div>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr style="color: rgb(133, 135, 150);">
                                <th style="width: 206px;color: @company.TableHeaderColor">Username</th>
                                <th style="width: 206px;color: @company.TableHeaderColor;">Contests Attempted</th>
                                <th style="width: 206px;color: @company.TableHeaderColor;">Win Percentage</th>
                                <th style="width: 206px;color: @company.LinkColor;">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model)
                            {
                                <tr style="color: @company.TextColor;">
                                    <td href="@Url.Action("Index", "Judgement")">@row.Username</td>
                                    <td>@row.ContestAttempted</td>
                                    <td>@row.WinPercentage %</td>

                                    <td style="color:@company.LinkColor">
                                        @Html.ActionLink("Details", "LeaderboardDetail", new { Name = row.Username,  UserEmail =row.UserEmail, FKCompany = company.PKCompany, contestName = ViewData["contestName"] })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary" type="button" onclick="location.href = '/contest-@company.CompanyName-@ViewData["contestName"]'">Judgement</button>

        </form>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>