@using JudgementApp.Models;
@model IEnumerable<JudgementApp.Models.Leaderboard>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Company company = (Company)ViewData["Company"];
}

<body style="background:@company.BackgroundColor;color: @company.TextColor;">
    <section class="contact-clean" style="background: @company.BackgroundColor;">
        <form method="post" style="text-align: center;background: @company.CardBackgroundColor;">
            <h2 class="text-center" style="color: @company.HeadingColor;">Details</h2>
            <div>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr style="color: rgb(133, 135, 150);">
                                <th style="width: 206px;color: @company.TableHeaderColor;">No</th>
                                <th style="width: 206px;color: @company.TableHeaderColor;">Date</th>
                                <th style="width: 206px;color: @company.TableHeaderColor;">Win Percentage</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int count = 1; }
                            @foreach (var row in Model)
                            {
                                <tr style="color: @company.TextColor;">
                                    <td>@count</td>
                                    <td>@row.Date</td>
                                    <td>@row.WinPercentage %</td>

                                    @{ count++;}

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>