@using System.Web.UI.WebControls
@model JudgementApp.Models.PickEmContest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ContestAdmin";
}


<body style="background: ;color:  ">

    <section class="contact-clean" id="mainContent" style="height: 100%">
        <form style="text-align: center;">
            <h2 class="text-center">@Model.ContestName</h2>
            <img class="img-responsive" src="/assets/CompanyLogos/@Model.Logo" style="width:200px;" />
            <input type="hidden" value="@Model.CompanyId" id="companyId" />
            <input type="hidden" value="@Model.Id" id="id" />
            <input type="hidden" value="@Model.ContestId" id="contestId" />
            <div>
                <div style="text-align:left !important">
                    <table style="width:100%;">
                        <tr>
                            <td style="width: 20%"  data-toggle="tooltip" title="Number of Stocks User Will Select">
                                <b>
                                    Number of Stocks User Will Select
                                </b> </td>
                            <td>
                                <input type="number" id="stockNumber" onchange="PickEm.StockChange()" class="form-control" width="250px" value="@Model.StockNumber"/>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Contest Expiration</b> </td>
                            <td>
                                <br />
                                <input id="preDateValue" type="hidden" value="@Model.ExpirationType" />
                                <select id="expiryDate" class="form-control">
                                    <option value="1">Day</option>
                                    <option value="2">Week</option>
                                    <option value="3">Month</option>
                                    <option value="4">Custom</option>
                                </select>
                                <br />
                            </td>
                        </tr>
                        <tr id="customeDate" style="display: none">
                            <td style="width:20%"><b>Custom Date</b> </td>
                            <td>
                                <br />
                                @Html.TextBoxFor(m => m.ExpirationDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "date", @width = "250px", type = "date" })

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col"><b>Contest Style</b></div>
                                    <div class="col" style="text-align:center; padding-top:10px;" data-toggle="tooltip" title="Percentage Point contests will simply sum the percentage return of the user’s selected stocks over the contest duration. Returns will be calculated from the first daily opening price after user submission. Users will be ranked based on the sum of all percentage returns assuming equal weight. &#013;&#013;Dollar contests will sum the total dollar return based on the dollars allocated to each stock by the user. Position size will be determined by the allocated dollar amount and the first daily opening price after user submission. Contest administrator can set a maximum dollar per stock amount by setting the Max Dollars Per Position below; the default Max Dollars Per Position is unlimited. This means the user could put ‘Total Dollars’ into one stock. If this is undesirable, please set a Max Dollars Per Position.">(?)</div>
                                </div>
                            </td>
                            <td>
                                <input id="preStyleValue" type="hidden" value="@Model.StyleType" />
                                <select id="style" class="form-control">
                                    <option value="1">Percentage Point</option>
                                    <option value="2">Dollar</option>

                                </select>
                            </td>
                        </tr>
                        <tr id="totalDollars">
                            <td><b>Total Dollars</b> </td>
                            <td>
                                <br />

                                <input class="form-control" type="number" id="totalDollarsVal" name="ProblemName" value="@Model.DollarsPerPoint" required="required" placeholder="Name">
                                <br />
                            </td>
                        </tr>
                        <tr id="maxDollars">
                            <td><b>Max Dollars Per Position</b> </td>
                            <td>
                                <br />

                                <input class="form-control" type="number" id="maxDollar" name="ProblemName" value="@Model.MaxDollars" required="required" placeholder="Name">
                                <br />
                            </td>
                        </tr>

                    </table>

                </div>

            </div>

            <button class="btn btn-primary" type="button" id="publish">Publish</button>
            @if (Model.IsPublished)
            {
                <input id="publish1" value="true" type="hidden" />
                <div class="row col-md-12">
                    <div class="pull-left">


                        <a href="@ViewBag.url/pickem-judgement-@Model.CompanyName-@Model.ContestName/@Model.Id" id="judgmentLink" class="pull-left" style="cursor: pointer;color: rgb(16,173,137); margin-top:10px;"> @ViewBag.url/pickem-judgement-@Model.CompanyName-@Model.ContestName/@Model.Id</a>
                        <b id="btnCopy" class="pull-right btn" style=" margin-left:5px;">copy Url</b>
                        <input id="linkINput" width="1px" style="display:none" />

                    </div>
                    

                    <br />
                </div>
            }


        </form>
    </section>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="~/assets/js/PickEm.js"></script>
</body>
<style>
    p {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #484848;
    }

    /* Popup Open button */
    .open-button {
        color: #FFF;
        background: #0066CC;
        padding: 10px;
        text-decoration: none;
        border: 1px solid #0157ad;
        border-radius: 3px;
    }

        .open-button:hover {
            background: #01478e;
        }

    .popup {
        position: fixed;
        top: 0px;
        left: 0px;
        background: rgba(0,0,0,0.75);
        width: 100%;
        height: 100%;
        display: none;
    }

    /* Popup inner div */
    .popup-content {
        width: 500px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 40px;
        margin-top: 20px;
        box-shadow: 0px 2px 6px rgba(0,0,0,1);
        border-radius: 3px;
        background: #fff;
        position: relative;
    }

    /* Popup close button */
    .close-button {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 20px;
        background: rgba(0,0,0,0.8);
        font-size: 20px;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }

        .close-button:hover {
            background: rgba(0,0,0,1);
        }
</style>



