@model JudgementApp.Models.PickemResults

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background: ;color:  ">
    <section class="contact-clean" style="background: ">
        <form method="post" style="text-align: center;background: ">
            <h2 class="text-center">@ViewBag.ContestName</h2>
            <img class="img-responsive" src="/assets/CompanyLogos/@ViewBag.Logo" style="width:200px;" />

            <div>
                <div class="table-responsive">
                    <table class="table table-borderless">
                        <thead>
                            <tr style="color: rgb(37 140 75);">
                                <th style="color: ;width: 206px;">Ranking</th>
                                <th style="color: ;width: 206px;">Username</th>
                                <th style="color: ;width: 206px">Score</th>
                                <th style="color: ;width: 206px">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in Model.List)
                            {
                                <tr>
                                    <td>@row.Ranking</td>
                                    <td>@row.Username</td>
                                    <td>@row.Score</td>
                                    <td>@row.Date</td>

                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-primary" type="button" onclick="location.href='/pickem-judgement-@ViewBag.CompanyName-@ViewBag.ContestName/@ViewBag.questionId'" >Back to Contest</button>
        </form>
    </section>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>